.imagem2{
    background-image: url(https://imgur.com/QfybP7O.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    color: #AD3A6E!important
    ;
}

.btnCancelar{
    margin-right: 20px !important;
    color: #AD3A6E;
}