.box1{
    background-color: #AD3A6E!important;
    height: 120px;
}

.box2{
    background-color: #E4D5EC;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #E4D5EC;
}

.texto{
    color: #AD3A6E;
}