.textos1{
    font-weight: bold !important;
    color: #AD3A6E !important;
}
.fundo
{
    background-Color: #F186B7;
}

.imagem{
    background-image: url(https://imgur.com/clEEpVN.jpg);
    background-repeat: no-repeat;
    width: 200vh;
    min-height: 150vh;
    background-size: cover;
    background-position: center;
    
}
.text-decorator-none{
    text-decoration: none;
}
.botao1{
    border-Color: white;
    background-Color: #AD3A6E;
    color:white;
} 
.caixa{
    border-Color: white;
    background-Color: #AD3A6E;
    color:white;
}
